$windows-95-bg: #c0c0c0;

.disabled-text {
    color: rgb(162, 162, 162);
    text-shadow: rgb(238, 238, 238) 1px .5px .3px;
    cursor: none;
}

.window_outline {
    border-top: rgb(223, 223, 223) 1px solid;
    border-left: rgb(223, 223, 223) 1px solid;
    border-bottom: rgb(112, 112, 112) 1px solid;
    border-right: rgb(112, 112, 112) 1px solid;
    box-shadow: -1px -1px 0 white,
        0px -1px 0 white,
        -1px 0px 0 white,
        -1px 1px 0 black,
        0px 1px 0 black,
        1px 1px 0 black,
        1px -1px 0 black,
        1px 0px 0 black;
}

.no-select {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pix-icon {
    image-rendering: pixelated;
    margin: 0px 3px 0 0;
}